{% extends "base/theme.html" %}
{% load bootstrap_pagination %}

{% block animation %}
{% endblock %}


{% block content %}

<div class="row main-content">
	<div class="col-md-2"></div>

	<div class="col-md-8">
	<h2>Events cross Businesses</h2>

		{% for event in object_list %}
		<!-- 		<div class='panel'> 
		commented to remove the box around this zone
		-->
		<div class="row">
	 		<div class="col-md-2">
			<h3><a href="{{ event.get_absolute_url }}">{{ event.business }}</a></h3>
			</div>
	 		<div class="col-md-4">
			<h3>{{ event.customer }}</h3>
			</div>
	 		<div class="col-md-6">
			Le {{ event.created_at }} par {{ event.get_kind_display }}
			</div>
			<div class="col-md-12">
			<br>

			<p>{{ event.description }}</p>

			<hr></div>
		</div>
		{% endfor %}
	</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}

{% block pagination %}
{% bootstrap_paginate page_obj range=4 show_prev_next="false" show_first_last="true" %}
{% endblock %}