{% extends "base/theme.html" %}
{% load bootstrap_pagination %}


{% block animation %}
{% endblock %}


{% block content %}
<script>
//   	points = document.getElementById('points').value

    function add_points(id)
    {
    	var points = $("input").val();
        $.ajax({
            url: "/partner/"+id+"/points/",
            type: "POST",
            data: {'points':points},
            success: function(response) {
            },

        });
    }
</script>

<div class="row main-content">
	<div class="col-md-2"></div>

	<div class="col-md-8">
	<h2>Details on Partner</h2>

		<!-- 		<div class='panel'> 
		commented to remove the box around this zone
		-->
		<div class="row">
	 		<div class="col-md-2">
			<h3><a href="{{ partner.up.get_absolute_url }}">{{ partner.up }}</a> => {{ partner.value }}</h3>
			</div>
		</div>
	 		<div class="col-md-4">
	 			Vos points: {{ partner.points }}
	 		</div>
	 		<div class="col-md-4">
			Left: <a href="{{ partner.left.get_absolute_url }}">{{ partner.left }}</a><br>
			Right: <a href="{{ partner.right.get_absolute_url }}">{{ partner.right }}</a>
				<form action="#" method="get">
					<input type="text" value="5" name="points" size="1"/>
				<button type="button" class="btn btn-danger" onclick="add_points({{ partner.id }});"> Add Points </button></p>
				</form>
			</div>
			<hr></div>
	</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}

