{% extends "base/theme.html" %}

{% block animation %}
{% endblock %}


{% block content %}

<div class="row main-content">
	<div class="col-md-2"></div>

	<div class="col-md-8">
	<h2>Your Businesses</h2>

	<a href="/business/create" class="btn btn-primary"> Add a Business</a>

	<p>

		{% partner.testTree %}

		{% for partner in object_list %}
		<!-- 		<div class='panel'> 
		commented to remove the box around this zone
		-->
		<div class="row">
	 		<div class="col-md-12">
				<h3>{{ partner.testTree }}</h3>
			</div>
<!--	 		<div class="col-md-4">
 	 			<canvas style="width: 197px; height: 197px;" class="ant" width="197" height="197" data-chart="doughnut" data-value="[{ value: 230, color: '#1ca8dd', label: 'Returning' }, { value: 130, color: '#1bc98e', label: 'New' }]" data-segment-stroke-color="#fff" data-options="{ percentageInnerCutout: '20' }">
      </canvas>

      
      
	 		</div> -->
		</div>
		<div class="row">
			<hr>
		</div>

		{% endfor %}
	</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}