{% extends "base/theme.html" %}

{% block animation %}
{% endblock %}


{% block content %}

<div class="row main-content">
	<div class="col-md-2"></div>

	<div class="col-md-8">
	<h2>Your Customers</h2>

Put the variable of the Business selected on screen before<p>

		{% for customer in object_list %}
		<!-- 		<div class='panel'> 
		commented to remove the box around this zone
		-->
		<div class="row">
	 		<div class="col-md-8">
				<h3>{{ customer.id }} - {{ customer.fullname }}</h3>
			</div>
			<div class="col-md-4">
				{{ customer.get_kind_display }} / {{ customer.get_status_display }}
			</div>
		</div>
		<div class="row">
			<hr>
		</div>
		{% endfor %}
	</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}